<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar {
            padding: 0.5rem 1rem;
        }
        .logout-btn {
            margin-left: auto;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    </div>
</nav>

<div class="container mt-5">
    <div class="card mt-4">
        <div class="card-body">
            <p class="card-text">
                Ошибка авторизации
            </p>
        </div>
    </div>
</div>
</body>
</html>

